@import url(./__list/places__list.css);
@import url(./__place/places__place.css);
@import url(./__photo/places__photo.css);
@import url(./__text/places__text.css);
@import url(./__favorite/places__favorite.css);
@import url(./__favorite/_active/places__favorite_active.css);

.places {
    max-width: 880px;
    margin: 0 auto;
    padding: 0 27px 0 27px;
    box-sizing: content-box;
}

@media screen and (max-width: 825px) {
    .places {
        padding: 0 19px 0 19px;
    }
}