.input {
    width: 100%;
    box-sizing: content-box;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media screen and (max-width: 530px) {
    .input {
        max-width: 238px;
    }
}