.profile__add-button {
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    padding: 14px 64px;
    margin-top: 36px;
}

@media screen and (max-width: 320px) {
    .profile__add-button {
        width: 100%;
    }
}