.profile__container {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 320px) {
    .profile__container {
        justify-content: space-between;
    }
}