.popup__exit {
    font-size: 40px;
    color: #fff;
    left: 100%;
    bottom: 100%;
    position: absolute;
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 530px) {
    .popup__exit {
        height: 26px;
        width: 26px;
        left: calc(100% - 26px);
    }
}