.popup__exit {
    font-size: 40px;
    color: #fff;
    left: 100%;
    bottom: 100%;
    position: absolute;
    height: 40px;
    width: 40px;
    background-image: url(../../../images/exit.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 530px) {
    .popup__exit {
        background-size: 36px 36px;
        left: calc(100% - 36px);
        bottom: calc(100% + 13px);
    }
}